In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import GridSearchCV

In [2]:
DATA_PATH = '/data/'

#### Read Data

Get data from the grain source and the land matrix source, clean it and merge it.

In [3]:
df_2k12 = pd.read_excel(DATA_PATH+"grain_2016_v2.xlsx", sheet_name='2012')
df_2k16 = pd.read_excel(DATA_PATH+"grain_2016_v2.xlsx", sheet_name='2016')
df_all = pd.read_excel(DATA_PATH+"land_matrix_all.xls")
df = pd.concat([df_2k12, df_2k16])
df['label'] = 1
df = df.drop(['projected_investment'], axis=1)
df = df[['transaction_id', 'target_country', 'size_of_land', 'crop', 'label']]
df

,transaction_id,target_country,size_of_land,crop,label
0,NaN,Brazil,424000.0,"Soybeans, sugar cane",1
1,NaN,Argentina,320000.0,"Maize, soybeans, wheat",1
2,NaN,Australia,2500.0,Sugar cane,1
3,NaN,Sierra Leone,30000.0,Rice,1
4,NaN,Liberia,220000.0,Oil palm,1
5,NaN,Ethiopia,10000.0,"Cereals, pulses, rice",1
6,NaN,East Timor,100000.0,Sugar cane,1
7,NaN,Papua New Guinea,33000.0,Cassava,1
8,NaN,Sierra Leone,12000.0,Oil palm,1
9,NaN,Liberia,169000.0,Oil palm,1
10,NaN,Nigeria,1000.0,Crops,1
11,NaN,New Zealand,4570.0,Dairy,1
12,NaN,Uganda,10000.0,Crops,1
13,NaN,Cameroon,10000.0,"Cassava, maize, rice",1
14,NaN,Philippines,11000.0,Sugar cane,1
15,NaN,Australia,47100.0,"Cereals, livestock, sugar cane",1
16,NaN,New Zealand,3200.0,"Sheep, cattle",1
17,NaN,Sierra Leone,2500.0,Palm oil,1
18,NaN,Sudan,38400.0,NaN,1
19,NaN,New Zealand,8481.0,"Sheep, cattle, forest",1
20,NaN,Australia,73000.0,NaN,1
21,NaN,Sudan,100000.0,NaN,1
22,NaN,Jamaica,18000.0,Sugar cane,1
23,NaN,Ethiopia,30000.0,Oil palm,1
24,NaN,China,145000.0,"Barley, flowers, fruits, ginseng, maize, oats,...",1
25,NaN,Indonesia,10000.0,Maize,1
26,NaN,Indonesia,200000.0,Sugar cane,1
27,NaN,Ethiopia,140000.0,"Livestock, maize, oilseeds, rice, sugar cane, ...",1
28,NaN,Namibia,10000.0,"Canola, maize, rice, wheat",1
29,NaN,Angola,30000.0,Sugar cane,1
...,...,...,...,...,...
152,NaN,Sierra Leone,5200.0,Oil palm,1
153,NaN,Sierra Leone,57000.0,Sugarcane,1
154,NaN,Sierra Leone,30000.0,"Rice, rubber",1
155,NaN,South Africa,50000.0,Dairy,1
156,NaN,Sudan,12000.0,"Cotton, soybeans, beans, maize, sorghum",1
157,NaN,Sudan,9239.0,"Maize, wheat",1
158,NaN,Sudan,87200.0,Alfalfa,1
159,NaN,Sudan,100000.0,NaN,1
160,NaN,Sudan,971245.0,"Barley, cotton, hay, maize, sugar cane, sunflo...",1
161,NaN,Tanzania,3202.0,"Cereals, cattle, poultry",1
162,NaN,Tanzania,6000.0,Oil palm,1
163,NaN,Tanzania,8000.0,Sugarcane,1
164,NaN,Tunisia,70.0,Raspberries,1
165,NaN,Turkey,1000.0,Crops,1
166,NaN,Uganda,10000.0,Crops,1
167,NaN,Uganda,2600.0,"Maize, soybeans, rice, sorghum, sunflowers",1
168,NaN,Uganda,6000.0,Rice,1
169,NaN,Ukraine,100000.0,Crops,1
170,NaN,US,2023.0,Sorghum,1
171,NaN,US,3978.0,Alfalfa,1
172,NaN,US,22400.0,Crops,1
173,NaN,Zambia,5272.0,"Soybeans, maize, wheat",1
174,NaN,Zambia,27124.0,"Cattle, wheat, soybeans",1
175,NaN,Zambia,30000.0,"Soybeans, maize, wheat, cattle",1
176,NaN,Zambia,5866.0,Coffee,1
177,NaN,Zambia,20000.0,Crops,1
178,NaN,Zambia,5000.0,Oil seeds,1
179,NaN,Zambia,30000.0,Sugarcane and cassava,1
180,NaN,Zambia,15000.0,Sugarcane,1
181,NaN,Zambia,30000.0,Sugarcane,1

In [4]:
df_land_matrix = df_all[['target_country', 'size_of_land', 'crop']]

nan_idx = np.where(df_land_matrix['size_of_land'].isnull())

for idx in nan_idx:
    intended_size = df_all.loc[idx, 'intended_size']
    production_size = df_all.loc[idx, 'production_size']
    
    if intended_size is not '':
        df_land_matrix.loc[idx, 'size_of_land'] = intended_size
    elif intended_size is not 'nan':
        df_land_matrix.loc[idx, 'size_of_land'] = intended_size
    elif intended_size is not '0':
        df_land_matrix.loc[idx, 'size_of_land'] = intended_size
    elif intended_size is not 0:
        df_land_matrix.loc[idx, 'size_of_land'] = intended_size
    else:
        df_land_matrix.loc[idx, 'size_of_land'] = production_size

df_land_matrix['label'] = 0
df_land_matrix['transaction_id'] = 0
df_land_matrix = df_land_matrix[['transaction_id', 'target_country', 'size_of_land', 'crop', 'label']]
df_land_matrix

C:\Users\ashwi\Anaconda3\envs\deeplearning\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
C:\Users\ashwi\Anaconda3\envs\deeplearning\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\ashwi\Anaconda3\envs\deeplearning\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,transaction_id,target_country,size_of_land,crop,label
0,0,Myanmar,20234.0,"Onion, Tea, Corn (Maize), Rice, Soya Beans, Su...",0
1,0,Bangladesh,5000.0,NaN,0
2,0,Cambodia,9380.0,NaN,0
3,0,Cambodia,7000.0,"Accacia, Rubber",0
4,0,Cambodia,7000.0,"Accacia, Rubber",0
5,0,Cambodia,25000.0,Rice,0
6,0,Cambodia,9863.0,Accacia,0
7,0,Cambodia,6523.0,Sugar Cane,0
8,0,Cambodia,10000.0,Teak,0
9,0,Cambodia,10603.0,"Cashew, Rubber",0
10,0,Cambodia,7500.0,"Cassava (Maniok), Rubber",0
11,0,Cambodia,5000.0,Cassava (Maniok),0
12,0,Cambodia,16400.0,Oil Palm,0
13,0,Cambodia,7635.0,Sugar Cane,0
14,0,Cambodia,7000.0,Rubber,0
15,0,Cambodia,8000.0,"Corn (Maize), Rice, Vegetables",0
16,0,Cambodia,8000.0,Cassava (Maniok),0
17,0,Cambodia,769.0,Rubber,0
18,0,Cambodia,5345.0,Rubber,0
19,0,Cambodia,7200.0,"Accacia, Rubber",0
20,0,Cambodia,4000.0,Rubber,0
21,0,Cambodia,6436.0,"Cashew, Cassava (Maniok), Rubber",0
22,0,Cambodia,10000.0,Corn (Maize),0
23,0,Cambodia,7955.0,"Cassava (Maniok), Corn (Maize), Jatropha, Oil ...",0
24,0,Cambodia,333.0,NaN,0
25,0,Cambodia,5000.0,"Cashew, Teak",0
26,0,Cambodia,9800.0,"Accacia, Teak, Trees",0
27,0,Cambodia,12000.0,Rubber,0
28,0,Cambodia,4900.0,"Accacia, Cassava (Maniok), Corn (Maize), Eucal...",0
29,0,Cambodia,9854.0,"Teak, Trees",0
...,...,...,...,...,...
2825,0,Ukraine,2800.0,"Barley, Corn (Maize), Rapeseed, Sugar beet, Su...",0
2826,0,Ukraine,8200.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2827,0,Serbia,1470.0,"Corn (Maize), Sun Flower, Wheat",0
2828,0,Ukraine,4800.0,"Barley, Rapeseed, Wheat",0
2829,0,Romania,2500.0,"Oil Seeds, Grains, Sugar beet",0
2830,0,Romania,4000.0,Trees,0
2831,0,Romania,4036.0,"Food crops (no specification), Wheat",0
2832,0,Romania,900.0,Trees,0
2833,0,Bulgaria,17985.0,Food crops (no specification),0
2834,0,Russian Federation,11800.0,"Rye, Barley, Rapeseed, Wheat",0
2835,0,Russian Federation,6200.0,"Barley, Corn (Maize), Wheat",0
2836,0,Russian Federation,133000.0,Fodder Plants,0
2837,0,Ukraine,6400.0,"Corn (Maize), Soya Beans, Sugar beet, Sun Flow...",0
2838,0,Angola,12700.0,"Bean, Corn (Maize), Soya Beans",0
2839,0,Angola,2102.0,Rice,0
2840,0,Angola,2000.0,Rice,0
2841,0,Ukraine,3100.0,"Corn (Maize), Rapeseed, Soya Beans, Sun Flower...",0
2842,0,Ukraine,11400.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2843,0,Ukraine,2500.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2844,0,Ukraine,3200.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2845,0,Ukraine,12000.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2846,0,Ukraine,5000.0,"Corn (Maize), Rapeseed, Soya Beans, Wheat",0
2847,0,Ukraine,2400.0,"Barley, Corn (Maize), Soya Beans, Sun Flower, ...",0
2848,0,Ukraine,1525.0,Food crops (no specification),0
2849,0,Ukraine,4575.0,Food crops (no specification),0
2850,0,Romania,33000.0,Trees,0
2851,0,Angola,4628.0,"Banana, Fruit",0
2852,0,Mali,2000.0,Rice,0
2853,0,Mali,5000.0,Rice,0
2854,0,Mali,1000.0,Rice,0

In [5]:
df_merged = pd.concat([df, df_land_matrix])
df_merged

,transaction_id,target_country,size_of_land,crop,label
0,NaN,Brazil,424000.0,"Soybeans, sugar cane",1
1,NaN,Argentina,320000.0,"Maize, soybeans, wheat",1
2,NaN,Australia,2500.0,Sugar cane,1
3,NaN,Sierra Leone,30000.0,Rice,1
4,NaN,Liberia,220000.0,Oil palm,1
5,NaN,Ethiopia,10000.0,"Cereals, pulses, rice",1
6,NaN,East Timor,100000.0,Sugar cane,1
7,NaN,Papua New Guinea,33000.0,Cassava,1
8,NaN,Sierra Leone,12000.0,Oil palm,1
9,NaN,Liberia,169000.0,Oil palm,1
10,NaN,Nigeria,1000.0,Crops,1
11,NaN,New Zealand,4570.0,Dairy,1
12,NaN,Uganda,10000.0,Crops,1
13,NaN,Cameroon,10000.0,"Cassava, maize, rice",1
14,NaN,Philippines,11000.0,Sugar cane,1
15,NaN,Australia,47100.0,"Cereals, livestock, sugar cane",1
16,NaN,New Zealand,3200.0,"Sheep, cattle",1
17,NaN,Sierra Leone,2500.0,Palm oil,1
18,NaN,Sudan,38400.0,NaN,1
19,NaN,New Zealand,8481.0,"Sheep, cattle, forest",1
20,NaN,Australia,73000.0,NaN,1
21,NaN,Sudan,100000.0,NaN,1
22,NaN,Jamaica,18000.0,Sugar cane,1
23,NaN,Ethiopia,30000.0,Oil palm,1
24,NaN,China,145000.0,"Barley, flowers, fruits, ginseng, maize, oats,...",1
25,NaN,Indonesia,10000.0,Maize,1
26,NaN,Indonesia,200000.0,Sugar cane,1
27,NaN,Ethiopia,140000.0,"Livestock, maize, oilseeds, rice, sugar cane, ...",1
28,NaN,Namibia,10000.0,"Canola, maize, rice, wheat",1
29,NaN,Angola,30000.0,Sugar cane,1
...,...,...,...,...,...
2825,0.0,Ukraine,2800.0,"Barley, Corn (Maize), Rapeseed, Sugar beet, Su...",0
2826,0.0,Ukraine,8200.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2827,0.0,Serbia,1470.0,"Corn (Maize), Sun Flower, Wheat",0
2828,0.0,Ukraine,4800.0,"Barley, Rapeseed, Wheat",0
2829,0.0,Romania,2500.0,"Oil Seeds, Grains, Sugar beet",0
2830,0.0,Romania,4000.0,Trees,0
2831,0.0,Romania,4036.0,"Food crops (no specification), Wheat",0
2832,0.0,Romania,900.0,Trees,0
2833,0.0,Bulgaria,17985.0,Food crops (no specification),0
2834,0.0,Russian Federation,11800.0,"Rye, Barley, Rapeseed, Wheat",0
2835,0.0,Russian Federation,6200.0,"Barley, Corn (Maize), Wheat",0
2836,0.0,Russian Federation,133000.0,Fodder Plants,0
2837,0.0,Ukraine,6400.0,"Corn (Maize), Soya Beans, Sugar beet, Sun Flow...",0
2838,0.0,Angola,12700.0,"Bean, Corn (Maize), Soya Beans",0
2839,0.0,Angola,2102.0,Rice,0
2840,0.0,Angola,2000.0,Rice,0
2841,0.0,Ukraine,3100.0,"Corn (Maize), Rapeseed, Soya Beans, Sun Flower...",0
2842,0.0,Ukraine,11400.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2843,0.0,Ukraine,2500.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2844,0.0,Ukraine,3200.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2845,0.0,Ukraine,12000.0,"Barley, Corn (Maize), Rapeseed, Soya Beans, Su...",0
2846,0.0,Ukraine,5000.0,"Corn (Maize), Rapeseed, Soya Beans, Wheat",0
2847,0.0,Ukraine,2400.0,"Barley, Corn (Maize), Soya Beans, Sun Flower, ...",0
2848,0.0,Ukraine,1525.0,Food crops (no specification),0
2849,0.0,Ukraine,4575.0,Food crops (no specification),0
2850,0.0,Romania,33000.0,Trees,0
2851,0.0,Angola,4628.0,"Banana, Fruit",0
2852,0.0,Mali,2000.0,Rice,0
2853,0.0,Mali,5000.0,Rice,0
2854,0.0,Mali,1000.0,Rice,0

#### Vectorize the crop column and integer encode the countries column

In [6]:
product_list = list(df_merged.crop.unique())
cleaned_list  = [x for x in product_list if str(x) != 'nan']
uniq_list = []
for item in cleaned_list:
    if ',' in item:
        temp = item.split()
        lower  = [x.lower().replace(',', '').replace('(', '').replace(')', '').strip() for x in temp]
        uniq_list.extend(lower)
    else:
        uniq_list.append(item.lower())
uniq_set = set(uniq_list)
uniq_list = list(uniq_set)
del uniq_list[0]
uniq_list

['cherries',
 'buckwheat',
 'trees',
 'coconut',
 'sugar beet',
 'oats',
 'vera',
 'production',
 'pork',
 'onions',
 'castor oil plant',
 'allfalfa',
 'sweet sorghum',
 'rye',
 'livestock',
 'eucalyptus',
 'sun flower',
 'peanuts',
 'groundnut',
 'sunflower',
 'other',
 'alfalfa ',
 'stevia',
 'cereal',
 'nuts',
 'mixed farming',
 'tea',
 'palm',
 'pulses',
 'grapes',
 'fruits',
 'no',
 'seed production',
 'maize ',
 'accacia',
 'bananas',
 'sunflowers',
 'palm oil',
 'cassava',
 'mustard',
 'wool',
 'oil palm',
 'herbs',
 'soybeans',
 'cereals (no specification)',
 'cotton',
 'pasture',
 'beans',
 'poultry/game',
 'almond',
 'roses',
 'grain',
 'citrus fruits',
 'passion',
 'mango',
 'raspberries',
 'sugar cane',
 'oilseeds',
 'oleagionous plant',
 'sugarcane and cassava',
 'dragon fruit',
 'ethanol',
 'peanut',
 'herbs (no specification)',
 'rice',
 'cashew',
 'vegetable',
 'date',
 'papaya',
 'tomatoes',
 'soya',
 'pinnata',
 'bamboo',
 'aquaculture',
 'sorhgum',
 'feed',
 'olives',
 'forest',
 'cocoa',
 'maniok',
 'aloe',
 'cofee',
 'apple',
 'vegetables',
 'alfalfa',
 'sorghum',
 'grains',
 'dairy',
 'pomegranate',
 'tobacco',
 'teak',
 'potatoes',
 'pineapples',
 'plants',
 'grazing for dairy',
 'poultry',
 'rapeseed',
 'maize.',
 'oil',
 'cane',
 'crops',
 'fodder plants',
 'plant',
 'pineapple',
 'croton',
 'fruit',
 'coffee ',
 'soybeans for feedstock',
 'wheat',
 'almonds',
 'cassava (maniok)',
 'vineyard',
 'coffee plant',
 'sweet',
 'teff',
 'sisal',
 'hay',
 'cacao',
 'barley',
 'pine',
 'seed',
 'corn',
 'ginseng',
 'coffee',
 'rice (hybrid)',
 'castor',
 'bambara',
 'maize',
 'corn (maize)',
 'pepper',
 'and',
 'algae',
 'bean',
 'hybrid',
 'beet',
 'dairy  ',
 'rubber',
 'macadamia',
 'medicinal',
 'lentils',
 'sun',
 'flowers',
 'dill',
 'meat',
 'palms',
 'food crops (no specification)',
 'peas',
 'specification',
 'sheep',
 'food',
 'oleagionous',
 'citrus',
 'oil seeds',
 'cereals',
 'fig-nut',
 'jatropha',
 'canola',
 'groundnuts',
 'sugar (no specification)',
 'flower',
 'onion',
 'cattle',
 'pongamia',
 'fodder',
 'crop',
 'seeds',
 'banana',
 'sugarcane',
 'sesame',
 'sugar',
 'soybean',
 'soya beans']

In [7]:
binarized_df = df_merged.copy()

for i in range (0, len(uniq_list)):
    label = uniq_list[i]
    binarized_df[label] = np.where((df_merged['crop'].str.contains(label)), 1, 0)
binarized_df

C:\Users\ashwi\Anaconda3\envs\deeplearning\lib\site-packages\ipykernel_launcher.py:5: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """

,transaction_id,target_country,size_of_land,crop,label,cherries,buckwheat,trees,coconut,sugar beet,...,cattle,pongamia,fodder,seeds,banana,sugarcane,sesame,sugar,soybean,soya beans
0,NaN,Brazil,424000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,NaN,Argentina,320000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,NaN,Australia,2500.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Sierra Leone,30000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Liberia,220000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,Ethiopia,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,NaN,East Timor,100000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,NaN,Papua New Guinea,33000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,NaN,Sierra Leone,12000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,NaN,Liberia,169000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,NaN,Nigeria,1000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,NaN,New Zealand,4570.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,NaN,Uganda,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,NaN,Cameroon,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,NaN,Philippines,11000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,NaN,Australia,47100.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,NaN,New Zealand,3200.0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
17,NaN,Sierra Leone,2500.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,NaN,Sudan,38400.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
19,NaN,New Zealand,8481.0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20,NaN,Australia,73000.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21,NaN,Sudan,100000.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
22,NaN,Jamaica,18000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,NaN,Ethiopia,30000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,NaN,China,145000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,NaN,Indonesia,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,NaN,Indonesia,200000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,NaN,Ethiopia,140000.0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
28,NaN,Namibia,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,NaN,Angola,30000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2825,0.0,Ukraine,2800.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2826,0.0,Ukraine,8200.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2827,0.0,Serbia,1470.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2828,0.0,Ukraine,4800.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2829,0.0,Romania,2500.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2830,0.0,Romania,4000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2831,0.0,Romania,4036.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2832,0.0,Romania,900.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2833,0.0,Bulgaria,17985.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2834,0.0,Russian Federation,11800.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2835,0.0,Russian Federation,6200.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2836,0.0,Russian Federation,133000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2837,0.0,Ukraine,6400.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2838,0.0,Angola,12700.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2839,0.0,Angola,2102.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2840,0.0,Angola,2000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2841,0.0,Ukraine,3100.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2842,0.0,Ukraine,11400.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2843,0.0,Ukraine,2500.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2844,0.0,Ukraine,3200.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2845,0.0,Ukraine,12000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2846,0.0,Ukraine,5000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2847,0.0,Ukraine,2400.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2848,0.0,Ukraine,1525.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2849,0.0,Ukraine,4575.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2850,0.0,Romania,33000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2851,0.0,Angola,4628.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2852,0.0,Mali,2000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2853,0.0,Mali,5000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2854,0.0,Mali,1000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
binarized_df.transaction_id = np.arange(start=1, stop=len(binarized_df)+1)
binarized_df.index = np.arange(len(binarized_df))

In [9]:
country_list = list(binarized_df.target_country.unique())
country_codes = {}

for i in range(0, len(country_list)):
    country_codes.update({country_list[i]:i})
    
for index, row in binarized_df.iterrows():
    curr_val = row.target_country
    binarized_df.loc[index, 'target_country'] = country_codes[curr_val]
binarized_df = binarized_df.drop(np.where(np.isnan(binarized_df))[0])
binarized_df

,transaction_id,target_country,size_of_land,crop,label,cherries,buckwheat,trees,coconut,sugar beet,...,cattle,pongamia,fodder,seeds,banana,sugarcane,sesame,sugar,soybean,soya beans
0,1,0,424000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,2,1,320000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,3,2,2500.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,3,30000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,4,220000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,6,5,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,7,6,100000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,8,7,33000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8,9,3,12000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,10,8,169000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,11,9,1000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,12,10,4570.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,13,11,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,14,12,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,15,13,11000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,16,2,47100.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16,17,10,3200.0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
17,18,3,2500.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,19,14,38400.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
19,20,10,8481.0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
20,21,2,73000.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
21,22,14,100000.0,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
22,23,15,18000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23,24,5,30000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,25,16,145000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
25,26,17,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,27,17,200000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27,28,5,140000.0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
28,29,18,10000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29,30,19,30000.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3107,3108,57,2800.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3108,3109,57,8200.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3109,3110,53,1470.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3110,3111,57,4800.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3111,3112,22,2500.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3112,3113,22,4000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3113,3114,22,4036.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3114,3115,22,900.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3115,3116,33,17985.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3116,3117,80,11800.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3117,3118,80,6200.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3118,3119,80,133000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3119,3120,57,6400.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3120,3121,19,12700.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3121,3122,19,2102.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3122,3123,19,2000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3123,3124,57,3100.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3124,3125,57,11400.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3125,3126,57,2500.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3126,3127,57,3200.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3127,3128,57,12000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3128,3129,57,5000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3129,3130,57,2400.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3130,3131,57,1525.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3131,3132,57,4575.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3132,3133,22,33000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3133,3134,19,4628.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3134,3135,32,2000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3135,3136,32,5000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3136,3137,32,1000.0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
columns = ['transaction_id', 'target_country', 'size_of_land'] + uniq_list
final_df = binarized_df[columns]
final_df
labels = binarized_df['label']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(final_df, labels, stratify=labels, test_size=0.3, random_state=7)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(2191, 175) (2191,) (940, 175) (940,)

In [35]:
from sklearn.model_selection import GridSearchCV

model = RandomForestClassifier(class_weight='balanced')

n_estimates_range = np.arange(start=2, stop=25)
depth_range = np.array([11,21,31,41,51])
kfold = 5
skf = StratifiedKFold(n_splits=kfold, random_state=7)

model_grid = [{'max_depth': depth_range, 'n_estimators': n_estimates_range}]
grid = GridSearchCV(model, model_grid, cv=skf, scoring='f1_weighted')

grid.fit(X_train, y_train)
grid.best_params_

{'max_depth': 11, 'n_estimators': 16}

In [36]:
best_model = RandomForestClassifier(n_estimators = 16, class_weight='balanced', max_depth=11)

In [38]:
best_model.fit(X_train, y_train)
y_pred = best_model.predict(X_test)
f1_score(y_test.values, y_pred)

0.993939393939394

This model is Overfitting due to lack of sample points for the minority class.
Due to time constraints, we were not able to try to mitigate this problem. Proposed solutions could be to use a Minority Oversampling technique or collecting more data.

Additionally, we would also have liked to include more features such as:
The Regional GDP, Economic development index, human development index, land quality(arability of the land), corruption perception index, etc.

Relevant datasets are included in the attached excel file.